            .blue { color: #0072FF;}

            nav.navbar {
                font-family: Helvetica;
                font-size: 17px;
		        }

           .navbar .logo {
                height: 50px;
                width: 300px;
            }

            .navbar .small {
                height: 50px;
                width: 250px;
            }

            .responsive {
                max-width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            .nav.navbar-nav li a {
                color: #FFFFFF;
            }

            .nav-link {
                color: rgb(30, 30, 30) !important;
            }

            .active {
                color: #1260de !important;
            }

            .subactive {
                color: #1260de !important;
                border-top: 3px solid #0046b8;

            }

            .nav-link:hover {
                color: #0046b8 !important;
            }

            a {
                text-decoration: none;
            }


            @media (max-width:800px) {
                footer .text-left {
                    text-align: center !important;
                }

                footer .text-right {
                    text-align: center !important;
                }
		        }

            .top-container {
    			    margin-top: 7rem;
    			    margin-bottom: 1rem;
    		    }

            .carousel-container {
                margin-top: 2rem;
                margin-bottom: 3rem;
            }

            .carousel-indicators li {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin: 10px;
                text-indent: 0;
                cursor: pointer;
                border: none;
                border-radius: 50%;
                background-color: #004f99;
                box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
            }

            .carousel-inner{
                width:100% !important;
                margin: auto;
            }

            .carousel-control-prev-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234E4E4E' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
            }

            .carousel-control-next-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234E4E4E' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
            }

            h1 {
                font-family: 'Rubik', sans-serif;
                font-size: 33px;
                font-weight: bold;
		    }

            h2 {
                font-family: 'Rubik', sans-serif;
                font-size: 26px;
                font-weight: bold;
		    }

            h3 {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: bold;
		    }


            h4 {
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: normal;
		    }

            h5 {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: normal;
                line-height: 20px;
		    }

            h6 {
                font-family: 'Inter', sans-serif;
                font-size: 12px;
                font-weight: normal;
		    }

            .medium{
                font-family: 'Inter', sans-serif;
                font-size: 16px;
            }


            .scroll-box {
                position: relative;
            }

            .scroll {
                max-height: 100%;
                overflow: auto;
            }

            div.title {
                font-weight: bold;
                font-size: 20px;
		    	      margin-bottom: 5px;
            }

            div.title_news {
                font-weight: bold;
                font-size: 15px;
            }

            div.context {
                font-family: 'Inter', sans-serif;
                margin-bottom: 10px;
                font-size: 16px;
            }

            div.research_item{
                border: 1px solid #ccc;
                border-radius: 5px;
                max-width: 100%;
    			margin: 3px;
                padding: 3px;
                display: flex;
                align-items: center;
                /*max-width: 100%;
    			margin-bottom: 5px;

                border-bottom: 2px solid #BFD6FE;
                margin-bottom: 5px;
                margin-top: 10px;
                position: relative;*/
            }

            div.research_item:hover{
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }

            div.research_item_end{
                max-width: 100%;
    			margin-bottom: 20px;
            }

            div.people_item{
                border: 1px solid #ccc;
                border-radius: 5px;
                max-width: 100%;
                padding: 5px;
                margin: 5px;
                display: flex;
                align-items: center;
            }

            div.people_item:hover{
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }


            .text-wrap{
                width: 3rem;
                font-size: 12px;
                font-weight: normal;
            }
            img {
                pointer-events: auto;
            }

            img.img-people{
              width: 150px;
              height: auto; /* Maintain the aspect ratio of the image */
              display: block; /* Necessary to apply margin auto */
              margin: auto; /* Center the image horizontally */
              margin-bottom: 5px;
            }

            img.img-title{
                width: 450px;
                border-radius: 5%;
              }

            .vl {
              border-left: 5px solid #000080;
              height: 100;
              left: 3%;
              position: relative;
              
            }


            .vl_long {
              border-left: 5px solid #000080;
              height: 200;
              left: 3%;
              position: relative;

            }

            p.alumni{
              color:#000000;font-weight:bold;font-family:sans-serif;font-size:8
            }
            span.period{
              color:#808080;font-weight:lighter;font-family:sans-serif;font-size:8
            }

            span.type{
              color:#000000;font-weight:lighter;font-family:sans-serif;font-size:8
            }

            hr {
                height: 5px;
                width:95%;
                background-color: #122a59; /* Modern Browsers */
                border: solid 1.5px;
                border-color: #122a59;
            }

            figcaption{
              margin-top: 5px;
              text-align: center;
              margin-bottom: 20px;
            }
